<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="imu">

    <joint name="imu_joint" type="fixed">
        <parent link="base_link"/>
        <child link="imu_link"/>
        <origin xyz="0.11 0.0 0.17" rpy="0 0 0"/>
    </joint>
     
    <link name="imu_link">
        <visual>
            <origin xyz="0 0 0"/>
            <geometry>
                <box size="0.02 0.05 0.03"/>
            </geometry>
            <material name="White"/>
        </visual>
        <collision>
            <origin xyz="0 0 0"/>
            <geometry>
                <box size="0.02 0.05 0.03"/>
            </geometry>
        </collision>
        <inertial>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <mass value="0.01" />
            <inertia ixx="${(1/12) * 0.01 * (0.2*0.2+0.3*0.3)}" ixy="0.0" ixz="0.0"
                     iyy="${(1/12) * 0.01 * (0.2*0.2+0.3*0.53)}" iyz="0.0"
                     izz="${(1/12) * 0.01 * (0.2*0.2+0.3*0.3)}" />
        </inertial>
    </link>
    
    <gazebo reference="imu_link">
        <gravity>true</gravity>
        <sensor name='imu_sensor' type='imu'>
            <gz_frame_id>fox/imu_link</gz_frame_id>
            <always_on>true</always_on>
            <update_rate>1</update_rate>
            <visualize>true</visualize>
            <pose>0 0 0 0 0 0</pose>
        </sensor>
    </gazebo>
 
  
</robot>
